@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

a.navbar-brand {
    align-content: end;
}

.navbar-main {
    top: 0;
    font-family: "NanumSquare", Courier, monospace;
    position: sticky;
    width: 100%;
    z-index: 1;
}

.nav-link {
    position: relative;
}

.sign-in {
    border-radius: 5%;
    border: 2px solid rgba(230, 192, 146, 0.697);
    background-color: transparent;
    transition: 700ms;
    padding: 0.5%;
}

.sign-in:hover {
    background-color: rgba(230, 192, 146, 0.87);
    border: 2px solid rgba(230, 192, 146, 0.87);
    color: #332a20;
}

/* Fade in */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: whitesmoke;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 1px, 0);
}

.nav-link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after {
    transform: scale(1);
}

.nav-link:hover {
    animation-name: navbarAnimation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.navbar[data-bs-theme="dark"] {
    background-color: #332a20;
}

.navbar[data-bs-theme="light"] {
    background-color: #e6c092;
}

@font-face {
    font-family: "Arita buri";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff")
        format("woff");
    font-weight: normal;
    font-display: swap;
}

@keyframes navbarAnimation {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
